.name, .fullInfo {
  border: 1px solid;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: #ccc;
}

.name:hover {
  cursor: pointer;
}

.title {
  background-color: #1766f9;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

.changeCol {
  margin-right: 10px;
  border-radius: 5px;
  background-color: #ccc;
  border: 1px solid;
}

.changeCol:hover {
  background-color: #9d9a9a;
  color: #fff;
} 

